<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System rezewacji hotelu</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">System rezewacji hotelu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/users">Użytkownicy</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/hotels">Hotele</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/hotels">Pokoje</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/reservations">Rezerwacje</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="main-container">
        <div class="text-center">

            <h1 class="text-center mb-4">Profil użytkownika</h1>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Dane użytkownika</h5>
                    <p class="card-text"><strong>Imię i nazwisko:</strong> <span id="user-name"><%- user[1] %></span></p>
                    <p class="card-text"><strong>E-mail:</strong> <span id="user-email"><%- user[2] %></span></p>
                    <p class="card-text"><strong>Telefon:</strong> <span id="user-phone"><%- user[3] %></span></p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Aktualizuj dane</h5>
                    <form id="update-form" method="POST" action="/users/<%- user[0]%>?_method=PUT">

                        <div class="mb-3">
                            <label for="name" class="form-label">Imię i nazwisko</label>
                            <input type="text" class="form-control" id="name" name="name" value="<%- user[1] %>" required>
                        </div>
                  
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email" value="<%- user[2] %>" required>
                        </div>
                    
                        <div class="mb-3">
                            <label for="phone" class="form-label">Telefon</label>
                            <input type="text" class="form-control" id="phone" name="phone" value="<%- user[3] %>" required>
                        </div>
                       
                        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                    </form>
                    <form action="/users/<%= user[0] %>?_method=DELETE" method="POST" class="mt-3">
                        <button type="submit" class="btn btn-danger">Usuń użytkownika</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <footer class="bg-light text-center py-3">
        <p>&copy; 2024 Gabriel Gałęza</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
